{% extends "base.html" %}

{% block title %}Expense List{% endblock %}

{% block content %}
    <div class = "row">
        <div class = "col-lg-6">
            <h2>Expense List</h2>
        </div>
        <div class = col-lg-6>
            <div class = "pull-right">
                <h3><a href="new">Add Expense</a></h3>
            </div>
        </div>
    </div>

    {% if expense_list %}
        <table class = "table table-striped table-hover table-responsive">
            <tr>

                <th>Date</th>
                <th>Account</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Notes</th>
                <th></th>
            </tr>

            {% for expense in expense_list %}
                <tr>
                    <td>{{ expense.date }}</td>
                    <td> {{ expense.account.name }}</td>
                    <td>{{ expense.category.name }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.notes }}</td>
                    <td> <a href="{{ expense.id }}/edit">Edit</a> |
                             <a href="{{expense.id}}/delete", id="delete-expense-{{expense.id }}", onclick="return confirm('Are you sure want to delete this item?');">Delete</a>
{#                            <a href="#">Delete</a></td>#}
                </tr>


                    <div class = "col-lg-2">
                        <div class = "pull-right">

                        </div>
                    </div>

                </div>

            {% endfor %}
    </table>

    {% else %}
        <p>No expenses available.</p>
    {% endif %}


{% endblock %}